<h1>This is the Home Page </h1>
<%= link_to "Privacy Policy ", static_pages_privacy_policy_path %>

<i class="fa-solid fa-user-secret fa-7x fa-flip"></i>

<i class="fa-brands fa-font-awesome"></i>
<i class="fa-solid fa-user-secret"></i>
<i class="fa-regular fa-bell"></i>