%h1 This is the Home Page
= link_to "Privacy Policy ", static_pages_privacy_policy_path
%i.fa-solid.fa-user-secret.fa-7x.fa-flip
%i.fa-brands.fa-font-awesome
%i.fa-solid.fa-user-secret
%i.fa-regular.fa-bell
